.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 10%;
    left: 25%;
    width: 50%;
}

@media (max-width: 400px) {
    .Modal {
        left: 12.5%;
        width: 75%;
    }
}

.CloseButtonModal {
    float: right;
    background-color: transparent;
    border: none;
    font-size: 36px;
    height: 40px;
    color: #666;
    cursor: pointer;
}

.ModalContent {
    clear: both;
    margin-bottom: 20px;
}

.ModalOpen {
    animation: openModal 0.3s ease-out forwards;
}

.ModalClosed {
    animation: closeModal 0.3s ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(40%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    50% {
        opacity: 1;
        transform: translateY(40%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}